upstream app {
    server {{server_apps_1}};
    server {{server_apps_2}};
}

server {
    listen {{server_port}};
    server_name {{server_name}};
    location / {
        proxy_pass http://app/;
        add_header  X-Upstream  $upstream_addr;
    }
}